.wrapper {
  width: min-content;
  margin: 0 auto;
}

.reg-form {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: 100px 1fr;
  width: fit-content;
}

.error {
  display: none;
  color: #ff0000;

  &_active {
    display: block;
  }
}