.menu__icon {
  display: none;
  cursor: pointer;
}

.burger__menu {
  z-index: 120;
}

.burger__menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
  width: 100%;
  height: 100%;
}

@media (width <= 1250px) {
  .burger__menu-overlay._show {
    display: block;
    background: transparent;
  }
  .menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 66%;
    z-index: 150;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 40px;
    overflow: auto;
    font-size: 20px;
    font-weight: 700;
    background-color: rgb(169 141 59 / 64%);
    transition: all 0.3s ease 0s;
    transform: translate(100%, 0);
  }
  .menu._show {
    transform: translate(0, 0);
  }
  .burger__menu-icon {
    position: fixed;
    top: 49px;
    right: 21px;
    z-index: 165;
    display: block;
    width: 30px;
    height: 22px;
  }
  .burger__menu-icon::after,
  .burger__menu-icon::before,
  .burger__menu-icon span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: rgb(228 212 190);
    transition: all 0.3s ease 0s;
  }
  .burger__menu-icon.dark__color::after,
  .burger__menu-icon.dark__color::before,
  .burger__menu-icon.dark__color span {
    background-color: rgb(13 10 7) !important;
  }
  .burger__menu-icon::after,
  .burger__menu-icon::before {
    content: "";
  }
  .burger__menu-icon::after {
    bottom: 0;
  }
  .burger__menu-icon::before {
    top: 0;
  }
  .burger__menu span {
    top: 50%;
    transform: scale(1) translate(0, -50%);
  }
  .burger__menu-icon._show span {
    transform: rotate(90deg);
  }
  .burger__menu-icon._show::after {
    transform: rotate(90deg) translate(-9px, -11px);
  }
  .burger__menu-icon._show::before {
    transform: rotate(90deg) translate(11px, 10px);
  }
}
body._lock {
  overflow: hidden;
}