$dark: #100e0e;
$light: #e4d4be;
$font-garamond: garamond;
$font-montserrat: 'Montserrat', sans-serif;

@import 'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap';

.welcome__section {
  height: 1000px;
  color: $light;

  p {
    max-width: 600px;
    padding-top: 250px;
    font-family: $font-garamond;
    font-size: 19px;
    line-height: 1.8;
  }
}
.new-collection__section {
  color: $light;

  .newCollection__content {
    display: flex;
    column-gap: 50px;
    height: max-content;
    padding: 120px 0;

    .newCollectionDiv__img {
      max-width: 800px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgb(140 134 134 / 50%);
    }
    .newCollection_rigth_content {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      p {
        display: flex;
        flex: 1;
        align-items: center;
        padding: 10px;
        font-family: $font-garamond;
        font-size: 18px;
        font-weight: 500;
        line-height: 100%;
        text-align: right;
      }
    }
  }
}

.special-offer__section {
  color: $dark;

  h2 {
    padding-top: 50px;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
  }

  .special-offer__content {
    display: flex;
    column-gap: 50px;
    height: max-content;
    padding: 120px 0;

    .special-offer__img {
      max-width: 500px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgb(140 134 134 / 50%);
    }

    p {
      display: flex;
      flex: 1;
      align-items: center;
      padding: 10px;
      font-family: $font-garamond;
      font-size: 18px;
      line-height: 100%;
      text-align: left;
      border: 3px #100e0e solid;
      border-radius: 5px;
      font-weight: 600;
      max-height: 70px;
    }
  }
}

.modal {
  position: fixed;
  inset: 50% 0 0 50%;
  width: 10%;
  height: 10%;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px #00000030;
  transform: translate(-50%, -50%);
}

.modal::before {
  position: absolute;
  inset: -10px;
  content: '';
  border: 5px solid #cccccc;
}

.modal::after {
  position: absolute;
  inset: -15px;
  content: '';
  border: 10px solid #ffffff;
}

.buy__block {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  text-align: center;
  .title {
    font-weight: 800;
  }

  .btn__block {
    display: flex;
    column-gap: 20px;
    justify-content: center;
    button {
      color: #201e1b;
      cursor: pointer;
      background-color: #e4d4be;
      border: 2px solid #201e1b;
      border-radius: 10px;
      box-shadow: 0 0 5px 2px rgb(169 141 59);
      width: min-content;
    }
  }
}

@media (width <= 1100px) {
  .new-collection__section,
  .special-offer__section {
    .newCollection__content,
    .special-offer__content {
      flex-direction: column;
      row-gap: 20px;
      align-items: center;
      padding: 80px 0;
      .newCollectionDiv__img,
      .special-offer__img {
        max-width: 80%;
        height: auto;
      }
      .newCollection_rigth_content p {
        text-align: justify;
      }
      p {
        text-align: justify;
      }
    }
  }
}

@media (width <= 500px) {
  .welcome__section {
    p {
      font-size: 16px;
    }
  }
}
