.product-details {
  padding: 150px 40px 20px;

  &__title {
    padding: 20px 0;
    font-size: 2em;
    font-weight: 700;
    text-align: center;
  }

  &__info-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    max-width: 300px;
    margin: 0 auto;
  }
}

.slider {
  display: flex;
  align-items: center;

  &__img-wrapper {
    max-width: 220px;
    overflow: hidden;
  }

  &__images {
    position: relative;
    display: flex;
    gap: 20px;
    height: 300px;
    padding: 0 10px;
    transition: 0.3s;

    @media (width < 600px) {
      flex-direction: column;
      align-items: center;
      height: auto;
    }
  }

  &__img {
    object-fit: contain;
    min-width: 200px;
  }

  &__btn {
    opacity: 1;
    transition: 0.5s;

    &_unactive {
      opacity: 0;
    }
  }
}
