.product-details {
  padding: 150px 40px 20px;

  &__title {
    padding: 20px 0;
    font-size: 2em;
    font-weight: 700;
    text-align: center;
  }

  &__info-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__img-wrapper {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    height: 300px;

    @media (width < 600px) {
      flex-direction: column;
      align-items: center;
      height: auto;
    }
  }

  &__img {
    object-fit: contain;
    max-width: 200px;
  }
}
