.product-details {
  padding: 150px 40px 20px;

  &__title {
    padding: 20px 0;
    font-size: 2em;
    font-weight: 700;
    text-align: center;
  }

  &__info-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
  }

  &__description {
    font-size: 18px;
    line-height: 1.3;
  }

  &__prices {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    font-size: 24px;
    font-weight: 700;
  }

  &__price-usual_inactive {
    text-decoration: line-through;
  }

  &__price-sale {
    font-size: 28px;
    color: #dc143c;
  }
}

.slider {
  display: flex;
  gap: 20px;
  align-items: center;

  &__img-wrapper {
    max-width: 220px;
    overflow: hidden;
  }

  &__images {
    position: relative;
    display: flex;
    gap: 20px;
    height: 300px;
    padding: 0 10px;
    transition: 0.3s;

    @media (width < 600px) {
      align-items: center;
      height: auto;
    }
  }

  &__img {
    object-fit: contain;
    min-width: 200px;
    max-height: 100%;

    &:hover {
      cursor: pointer;
    }
  }

  &__btn {
    opacity: 1;
    transition: 0.5s;

    &:hover {
      cursor: pointer;
      &:disabled {
        cursor: auto;
      }
    }

    &_unactive {
      opacity: 0;
    }
  }
}

.modal-window {
  position: fixed;
  z-index: 196;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #f0f8ff;

  &_unactive {
    display: none;
  }

  &__close {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;
    border: 2px solid #ff0000;
    border-radius: 50%;
    transition: 0.3s;

    &:hover {
      cursor: pointer;
      background-color: transparent;
      box-shadow: 0 0 16px 14px #223c503d;
    }
  }

  .slider__img {
    min-width: 50%;
    min-height: 50%;

    &:hover {
      cursor: auto;
    }
  }
}
