.category__section,
.product__section {
  display: flex;
  justify-content: center;
  padding-top: 150px;
  padding-bottom: 20px;
  margin: 0 auto;
  .category__container,
  .product__container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    justify-content: center;
    max-width: 1100px;
    margin: 0 auto;
    .product__category {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      width: 300px;
      height: 400px;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 10px;
      .category__title {
        display: flex;
        align-items: center;
        width: max-content;
        height: 30px;
        padding: 9px;
        margin-bottom: 10px;
        font-size: 20px;
        color: #492f2f;
        background-color: #ffffff;
        border-radius: 7px;
      }
    }
  }
}

.product__category:hover {
  cursor: pointer;
  box-shadow: 0 0 5px 2px rgb(169 141 59);
}

.product__category:hover > .category__title {
  color: #ffffff;
  background-color: #492f2f;
}
.category__jewellery {
  background-image: url('../../img/jewellery.jpg');
}

.category__painting {
  background-image: url('../../img/pictiure.jpg');
}

.category__dishes {
  background-image: url('../../img/dishes.jpg');
}

.category__allproducts {
  background-image: url('../../img/allprod.png');
}

.category__coins {
  background-image: url('../../img/coins.jpg');

}
.product__cart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  padding: 5px;
  text-align: center;
  border: 2px rgb(228 228 176) solid;
  border-radius: 10px;

  img {
    width: 100%;
  }
.product__title {
  font-size: 16px;
  font-weight: 700;
}
  .product__price {
    display: flex;
    justify-content: space-between;
  }
  .previous__price {
    text-decoration: line-through;
  }

  .discounted__price{
    font-weight: 700;
    color: #f01616;
  }
  .product__description{
    font-size: 12px;
    text-align: justify;
  }
}

.filters__container {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  input[type='checkbox'] {
    border: 2px #492f2f solid;
  }

  input[type='checkbox']:checked {
    background-color: #498334;
  }
}
