.about__section {
  padding-top: 150px;
  padding-bottom: 20px;
  margin: 0 auto;
}
.about__header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 50px 25px;
  gap: 10px;
}
.about__title {
  font-size: 50px;
  font-family: Lostar, sans-serif;
}
.about__info {
  font-size: 20px;
}
.about__members {
  display: grid;
  grid-template-columns: repeat(3, auto);
  margin: 0 50px;
}

.member__photo {
  background-image: url('../../img/photo/valery.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 590px;
  height: 590px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 41, 41, 0.6);
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.popup__wrapper {
  position: relative;
  width: 900px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  color: #000000;
}
.popup__content {
  padding: 20px;
}
.popup__photo {
  width: 600px;
  height: 600px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 20px;
}
.popup__photo-valery {
  background-image: url('../../img/photo/valery.jpg');
}
.popup__photo-victoriya {
  background-image: url('https://via.placeholder.com/400');
}
.popup__photo-victoriya {
  background-image: url('https://via.placeholder.com/400');
}
.popup____title {
  font-size: 24px;
  margin-bottom: 10px;
}
.popup__name {
  font-size: 36px;
  margin-bottom: 10px;
}
.popup__country {
  font-size: 24px;
  margin-bottom: 20px;
}
.popup__bio {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.popup__git {
  font-size: 18px;
  color: #007bff;
}

.noscroll {
  overflow: hidden;
}

.popup__git:hover {
  color: #fff;
  background-color: #007bff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
