.user__section {
  button {
    font-size: 20px;
    width: 100px;
    font-weight: bold;
    color: #8b4513;
    text-shadow: 1px 1px #ffffff;
    cursor: pointer;
    background-color: #f5deb3;
    border: 1px solid #830303;
    border-radius: 5px;
    box-shadow: 2px 2px 4px #00000033;
  }
}
.user {
  &__section {
    padding-top: 150px;
    padding-bottom: 20px;
    margin: 0 auto;
  }
}

.password {
  &__infoBlock {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px;
  }
}

.profile,
.addresses,
.password {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    padding: 20px;
    margin: 0 auto 20px;
    background-color: #f5e6d7;
    border: 2px solid #d7b899;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #00000030;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #d7b899;
  }

  &__buttonsContainer {
    display: flex;
    column-gap: 20px;
  }

  &__title {
    margin-bottom: 10px;
  }

  &__infoWrapper {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #e6d8c4;
    border: 2px solid #d7b899;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #00000030;

    label {
      text-align: start;
      width: 300px;
      font-weight: bold;
      color: #e7913a;
    }

    input {
      text-align: start;
      font-size: 18px;
      font-weight: bold;
      width: 100%;
      border-radius: 4px;
      margin: 5px 0;
      color: #050300;
    }

    span.errorSpan {
      display: block;
      width: 300px;
      margin-bottom: 5px;
      color: #ff0000;
    }
  }
}

.password {
  &__infoWrapper {
    label {
      text-align: center;
    }

    input {
      text-align: center;
    }
  }
}

.addresses {
  &__wrapper {
    padding: 10px;
    border: 2px solid #d7b899;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #00000030;
  }

  &__roster {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  &__initHeader {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  &__initTitle {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #d7b899;
  }
}

.default {
  border: 2px solid #2d03e9;
}

.hidden {
  display: none;
}

.user__section {
  button[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
    background-color: #cccccc;
    border-color: #999999;
    color: #999999;
  }
}

input.invalid {
  border: 2px solid #ff0000;
}

input.invalid:focus {
  box-shadow: 0 0 5px 2px #ff0000;
}

.readonly {
  cursor: default;
  background-color: transparent;
  border: none;
  outline: none;
}

.editMode {
  border: 2px solid #171616;
  border-radius: 3px;
  outline: #171616;

  &:focus {
    box-shadow: 0 0 5px 2px rgb(169 141 59);
  }
}
