button {
  font-size: 20px;
  width: 100px;
  font-weight: bold;
  color: #8b4513;
  text-shadow: 1px 1px #ffffff;
  cursor: pointer;
  background-color: #f5deb3;
  border: 1px solid #830303;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.user__section {
  padding-top: 150px;
  padding-bottom: 20px;
  margin: 0 auto;
}

.password__infoBlock {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
}

.profile__container,
.addresses__container,
.password__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 800px;
  padding: 20px;
  margin: 0 auto 20px;
  background-color: #f5e6d7;
  border: 2px solid #d7b899;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1882352941);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1882352941);
}
.profile__header,
.addresses__header,
.password__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #d7b899;
}
.profile__buttonsContainer,
.addresses__buttonsContainer,
.password__buttonsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.profile__title,
.addresses__title,
.password__title {
  margin-bottom: 10px;
}
.profile__infoWrapper,
.addresses__infoWrapper,
.password__infoWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 10px;
  background-color: #e6d8c4;
  border: 2px solid #d7b899;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1882352941);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1882352941);
}
.profile__infoWrapper label,
.addresses__infoWrapper label,
.password__infoWrapper label {
  text-align: start;
  width: 300px;
  font-weight: bold;
  color: #e7913a;
}
.profile__infoWrapper input,
.addresses__infoWrapper input,
.password__infoWrapper input {
  text-align: start;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  border-radius: 4px;
  margin: 5px 0;
  color: #050300;
}
.profile__infoWrapper span.errorSpan,
.addresses__infoWrapper span.errorSpan,
.password__infoWrapper span.errorSpan {
  display: block;
  width: 300px;
  margin-bottom: 5px;
  color: #ff0000;
}

.password__infoWrapper label {
  text-align: center;
}
.password__infoWrapper input {
  text-align: center;
}

.addresses__wrapper {
  padding: 10px;
  border: 2px solid #d7b899;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1882352941);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1882352941);
}
.addresses__roster {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 20px;
}
.addresses__initHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 10px;
}
.addresses__initTitle {
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  color: #d7b899;
}

.default {
  border: 2px solid #2d03e9;
}

.hidden {
  display: none;
}

button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
  background-color: #cccccc;
  border-color: #999999;
  color: #999999;
}

input.invalid {
  border: 2px solid #ff0000;
}

input.invalid:focus {
  -webkit-box-shadow: 0 0 5px 2px #ff0000;
  box-shadow: 0 0 5px 2px #ff0000;
}

.readonly {
  cursor: default;
  background-color: transparent;
  border: none;
  outline: none;
}

.editMode {
  border: 2px solid #171616;
  border-radius: 3px;
  outline: #171616;
}
.editMode:focus {
  -webkit-box-shadow: 0 0 5px 2px rgb(169, 141, 59);
  box-shadow: 0 0 5px 2px rgb(169, 141, 59);
}
