.registration {
  width: min-content;
  padding-top: 150px;
  margin: 0 auto;

  &__title {
    padding-top: 50px;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
  }
}

.reg-form {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  width: fit-content;
  padding: 50px 0;
  input {
    padding: 10px;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
    background-color: #433636;
    border: none;
    border-radius: 5px;
  }
}

.fieldset {
  display: grid;
  grid-template-columns: minmax(170px, 1fr) 1fr;
  gap: 10px;

  .check-box {
    display: grid;
    grid-template-columns: minmax(170px, 1fr) 1fr;
    gap: 10px;
  }

  input {
    height: 30px;
    padding: 5px;
    background: transparent;
    border: 2px solid #171616;
    border-radius: 3px;
    outline: none;
    &:focus {
      color: #ffffff;
      border: 2px solid #efece5;
      box-shadow: none;
    }
  }
  label {
    align-self: center;
    min-width: 170px;
  }

  legend {
    padding-bottom: 20px;
    font-size: 24px;
    text-align: center;
  }

  [type='checkbox'] {
    justify-self: start;
  }
}

.error {
  display: none;
  color: #ff0000;

  &_active {
    display: block;
  }
}

@media (width <= 500px) {
  .reg-form__user.fieldset,
  .reg-form__person.fieldset,
  .reg-form__address.fieldset {
    grid-template-columns: 1fr;
  }
}
