.about {
  &__section {
    padding-top: 150px;
    padding-bottom: 20px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__header {
    display: grid;
    grid-template-columns: 2fr 3fr;
    margin: 0 100px 30px;
    gap: 10px;
  }

  &__title {
    font-size: 65px;
    font-family: Lostar, sans-serif;
  }

  &__info {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
  }

  &__infoPart {
    margin-bottom: 7px;
  }

  &__members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin-bottom: 30px;
  }

  &__schoolImg {
    width: 250px;
    height: 150px;
  }
}

.member {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  &__photo {
    width: 300px;
    height: 300px;
    margin-bottom: 12px;
    background-size: cover;
    border-radius: 50%;
    border: 2px solid #cccccc;
    transition: border-color 0.3s ease-in-out;
  }
  &__photo-valery {
    background-image: url('../../img/photo/valery.jpg');
  }

  &__photo-victoriya {
    background-image: url('../../img/photo/victoriya.jpg');
  }

  &__photo-alexei {
    background-image: url('../../img/photo/alexei.jpg');
  }

  &__photo-marina {
    background-image: url('../../img/photo/marina.jpg');
  }

  &__name {
    color: #222222;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    padding-left: 20px;
    position: relative;
    &:hover {
      transform: scale(1.2);
      transition: all 0.4s;
    }

    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      top: 0;
      left: -10px;
      width: 24px;
      height: 24px;
      background-image: url('../../img/GitHub.png');
      background-size: cover;
    }
  }

  &__role {
    color: #292727;
    font-size: 20px;
    margin-top: 5px;
  }
}

.member__photo:hover {
  cursor: pointer;
  border-color: #dac71e;
  transform: scale(1.1);
  filter: brightness(1.3);
  transition: all 0.3s ease-in-out;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #29292999;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;

  &__wrapper {
    position: relative;

    border-radius: 10px;
    box-shadow: 0 0 20px #0000004d;
    background-color: #ffffff;
    display: flex;
    color: #000000;
  }
  &__content {
    padding: 20px;
  }

  &__photo {
    width: 400px;
    height: 400px;
    border-radius: 10px 0 0 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__photo-valery {
    background-image: url('../../img/photo/valery.jpg');
  }

  &__photo-victoriya {
    background-image: url('../../img/photo/victoriya.jpg');
  }

  &__photo-alexei {
    background-image: url('../../img/photo/alexei.jpg');
  }

  &__photo-marina {
    background-image: url('../../img/photo/marina.jpg');
  }

  &____title {
    font-size: 24px;
    margin-bottom: 10px;
  }

  &__name {
    font-size: 36px;
    margin-bottom: 10px;
  }

  &__country {
    font-size: 24px;
    margin-bottom: 20px;
  }

  &__bio {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
  }

  &__git {
    font-size: 18px;
    color: #007bff;
    display: flex;
    justify-content: end;
  }

  &__img {
    width: 100px;
    height: 60px;
  }
}

.noscroll {
  overflow: hidden;
}

.popup__img:hover {
  color: #ffffff;
  transform: scale(1.1);
  transition: all 0.4s ease-in-out;
}
