@import 'https://fonts.googleapis.com/css?family=Roboto:400,300,500';

$bg: #1a1f25;
$button: #e6b333;
$border: #22272d;

.login {
  &__section {
    width: 300px;
    padding-top: 150px;
    padding-bottom: 20px;
    margin: 0 auto;
  }

  &__form {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
    width: fit-content;
    padding: 50px 0 0;
  }

  &__title {
    padding-top: 50px;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
  }

  &__button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
    background-color: #433636;
    border: none;
    border-radius: 5px;
  }

  &__link {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #433636;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.input__container {
  width: 79%;
}

.input__container label {
  position: absolute;
  left: 5px;
  width: 30px;
  height: 30px;
  padding: 7px;
  margin-top: 10px;
}

.input__container input {
  width: 100%;
  height: 40px;
  padding: 5px;
  padding-left: 55px;
  margin: 5px 0;
  background: transparent;
  border: 2px solid #171616;
  border-radius: 3px;
  outline: none;
  &:focus {
    box-shadow: 0 0 5px 2px rgb(169 141 59);
  }
}

.email label,
.password label {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: 30px;
}

.email label {
  background-image: url('../../img/email.png');
}

.email label:focus {
  background-image: url('../../img/password.png');
}

.password label {
  background-image: url('../../img/password.png');
}

.password {
  position: relative;
}

.closePassword {
  position: absolute;
  top: 50%;
  right: -40px;
  width: 20px;
  height: 20px;
  color: #000000;
  cursor: pointer;
  background: url('../../img/close-eye.png') no-repeat;
  background-size: 20px 20px;
  transform: translateY(-50%);
}

.openPassword {
  background: url('../../img/open-eye.png') no-repeat;
  background-size: 20px 20px;
}

.emailError,
.passwordError {
  display: block;
  height: 20px;
  color: #ff0000;
}

.invalid {
  border: 3px solid #ff0000;
}
