.registration {
  width: min-content;
  margin: 0 auto;
}

.reg-form {
  display: flex;
  flex-wrap: wrap;
  row-gap: 15px;
  width: fit-content;

  &__label {
    align-self: center;
    min-width: 170px;
  }
}

.fieldset {
  display: grid;
  grid-template-columns: minmax(170px, 1fr) 1fr;
  gap: 10px;

  &__legend {
    padding: 0 5px;
  }

  [type='checkbox'] {
    justify-self: start;
  }
}

.error {
  display: none;
  color: #ff0000;

  &_active {
    display: block;
  }
}
