.about {
  &__section {
    padding-top: 150px;
    padding-bottom: 20px;
    margin: 0 auto;
  }

  &__header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 50px 25px;
    gap: 10px;
  }

  &__title {
    font-size: 50px;
    font-family: Lostar, sans-serif;
  }

  &__info {
    font-size: 20px;
  }

  &__members {
    display: flex;
    justify-content: center;

    // grid-template-columns: repeat(3, auto);
    gap: 50px;
  }

  &__schoolImg {
    width: 200px;
    height: 200px;
  }
}

.member {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  &__photo {
    width: 300px;
    height: 300px;
    background-size: cover;
    border-radius: 50%;
    margin-right: 20px;
  }
  &__photo-valery {
    background-image: url('../../img/photo/valery.jpg');
  }

  &__photo-victoriya {
    background-image: url('../../img/photo/victoriya.jpg');
  }

  &__photo-alexei {
    background-image: url('../../img/photo/alexei.jpg');
  }

  &__photo-marina {
    background-image: url('../../img/photo/marina.jpg');
  }
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #29292999;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;

  &__wrapper {
    position: relative;
    width: 900px;
    border-radius: 10px;
    box-shadow: 0 0 20px #0000004d;
    background-color: #ffffff;
    display: flex;
    justify-content: flex-start;
    color: #000000;
  }
  &__content {
    padding: 20px;
  }

  &__photo {
    width: 600px;
    height: 600px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 20px;
  }

  &__photo-valery {
    background-image: url('../../img/photo/valery.jpg');
  }

  &__photo-victoriya {
    background-image: url('../../img/photo/victoriya.jpg');
  }

  &__photo-alexei {
    background-image: url('../../img/photo/alexei.jpg');
  }

  &__photo-marina {
    background-image: url('../../img/photo/marina.jpg');
  }

  &____title {
    font-size: 24px;
    margin-bottom: 10px;
  }

  &__name {
    font-size: 36px;
    margin-bottom: 10px;
  }

  &__country {
    font-size: 24px;
    margin-bottom: 20px;
  }

  &__bio {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
  }

  &__git {
    font-size: 18px;
    color: #007bff;
  }
}

.noscroll {
  overflow: hidden;
}

.popup__git:hover {
  color: #ffffff;
  background-color: #007bff;
  transition: all 0.3s ease-in-out;
}
