.cart__section {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  padding-top: 150px;
  padding-bottom: 20px;
  margin: 0 auto;
  .lineitems-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 800px;
    .product__card {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px;
      text-align: center;
      border: 2px rgb(228 228 176) solid;
      border-radius: 10px;
      height: 100px;
      img {
        width: 15%;
        height: 100%;
      }

      .buttonsBlock {
        display: flex;
        column-gap: 20px;
        height: 30%;
        align-items: center;
        button {
          display: flex;
          justify-content: center;
          width: 30px;
        }
      }
      .product__title {
        font-size: 16px;
        font-weight: 700;
        width: 100px;
      }
      .product__price {
        display: flex;
        flex-direction: column;
      }
      .previous__price {
        text-decoration: line-through;
      }

      .discounted__price {
        font-weight: 700;
        color: #f01616;
      }
      .product__description {
        font-size: 12px;
        text-align: justify;
      }
    }
  }

  .cart-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    font-family: 'Courier New', Courier, monospace;
    width: 300px;
    height: min-content;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #000000;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 10px #00000033;
    ul {
      display: flex;
      justify-content: space-between;
    }
    button {
      background-color: #f7f7ec;
      color: inherit;
      padding: 20px;
      border-radius: 10px;
      font-weight: 600;
      cursor: pointer;
    }
  }
}

.cart-wrapper button:hover{
  color: #f7f7ec;
  background-color: #2c2a2a;
}

.product__trash {
  width: 20px;
  height: 30px;
  background-image: url('../../img/trash.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.empty-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  margin: 0 auto;
  font-family: Montserrat, sans-serif;
  font-size: 26px;
  img {
    width: 200px;
    border-radius: 50%;
    animation: sleep 2s infinite alternate;
    transform-origin: center bottom;
  }

  @keyframes sleep {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-10px);
    }
  }

  a {
    background-color: #f7f7ec;
    text-decoration: none;
    color: inherit;
    padding: 20px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
  }
}
.empty-cart a:hover {
  color: #f7f7ec;
  background-color: #2c2a2a;
}
