
button {
  font-size: 18px;
  font-weight: bold;
  color: #8b4513;
  text-shadow: 1px 1px #ffffff;
  cursor: pointer;
  background-color: #f5deb3;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 4px #00000033;
  
}

.user {
  &__section {
    padding-top: 150px;
    padding-bottom: 20px;
    margin: 0 auto;
  }
}

.password {
  &__infoBlock {
      display: grid;
      grid-template-columns: repeat(3, auto);
      grid-gap: 10px;
    }
}

.profile,
.addresses, 
.password {
  &__container {
    width: 600px;
    margin: 0 auto 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f5e6d7;
    border: 2px solid #d7b899;
    box-shadow: 2px 2px 5px #00000030;
  }

  &__header {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #d7b899;
  }
}

.profile {
  &__infoBlock {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px;
  }
  &__firstName,
  &__lastName,
  &__dateOfBirth,
    &__email {
    font-weight: bold;
    color: #d7b899;
  }

  &__firstNameValue,
  &__lastNameValue,
  &__dateOfBirthValue,
  &__emailValue {
    color: #5c3c00;
  }
}

.addresses {
  &__dataBlock {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(2, 1fr);
  padding: 20px;
  margin-bottom: 10px;
  background-color: #e6d8c4;
  border: 2px solid #d7b899;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #00000030;
}

&__infoHeader {
display: flex;
justify-content: space-between;
}
}


.default {
  border: 2px solid #2d03e9;
}


.profile__infoBlock .readonly,
.password__infoBlock .readonly {
  background-color: transparent;
  border: none;
  outline: none;

}

.profile__infoBlock .editMode {
  border: 2px solid #171616;
  border-radius: 3px;
  outline: #171616;

  &:focus {
    box-shadow: 0 0 5px 2px rgb(169 141 59);
  }
}

.buttonsContainer {
  display: flex;
}

.hidden {
  display: none;
}

.profile__infoBlock input.invalid {
  border: 2px solid #ff0000;
}

.profile__infoBlock input.invalid:focus {
  box-shadow: 0 0 5px 2px #ff0000;
}



