.registration {
  width: min-content;
  padding-top: 150px;
  margin: 0 auto;

  &__title {
    padding-top: 50px;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
  }
}

.reg-form {
  display: flex;
  flex-wrap: wrap;
  row-gap: 15px;
  width: fit-content;
  padding: 50px 0;

  &__label {
    align-self: center;
    min-width: 170px;
  }

  &__input {
    padding: 0;
  }
}

.fieldset {
  display: grid;
  grid-template-columns: minmax(170px, 1fr) 1fr;
  gap: 10px;

  &__legend {
    padding: 0 5px;
    font-size: 24px;
    text-align: center;
  }

  [type='checkbox'] {
    justify-self: start;
  }
}

.error {
  display: none;
  color: #ff0000;

  &_active {
    display: block;
  }
}
