.about__section {
  padding-top: 150px;
  padding-bottom: 20px;
  margin: 0 auto;
}
.about__header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 50px 25px;
  gap: 10px;
}
.about__title {
  font-size: 50px;
  font-family: Lostar, sans-serif;
}
.about__info {
  font-size: 20px;
}
.about__members {
  display: grid;
  grid-template-columns: repeat(3, auto);
  margin: 0 50px;
}

.member__photo {
  background-image: url('../../img/photo/valery.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 590px;
  height: 590px;
}
