@charset "UTF-8";
.about__section {
  padding-top: 150px;
  padding-bottom: 20px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.about__header {
  display: grid;
  grid-template-columns: 2fr 3fr;
  margin: 0 100px 30px;
  gap: 10px;
}
.about__title {
  font-size: 65px;
  font-family: Lostar, sans-serif;
}
.about__info {
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
}
.about__infoPart {
  margin-bottom: 7px;
}
.about__members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 50px;
  margin-bottom: 30px;
}
.about__schoolImg {
  width: 250px;
  height: 150px;
}
.about__schoolImg:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.member__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px;
}
.member__photo {
  width: 300px;
  height: 300px;
  margin-bottom: 12px;
  background-size: cover;
  border-radius: 50%;
  border: 2px solid #cccccc;
  -webkit-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
}
.member__photo-valery {
  background-image: url('../../img/photo/valery.jpg');
}
.member__photo-victoriya {
  background-image: url('../../img/photo/victoriya.jpg');
}
.member__photo-alexei {
  background-image: url('../../img/photo/alexei.jpg');
}
.member__photo-marina {
  background-image: url('../../img/photo/marina.jpg');
}
.member__name {
  color: #222222;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  padding-left: 20px;
  position: relative;
}
.member__name:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.member__name::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: -10px;
  width: 24px;
  height: 24px;
  background-image: url('../../img/GitHub.png');
  background-size: cover;
}
.member__role {
  color: #292727;
  font-size: 20px;
  margin-top: 5px;
}

.member__photo:hover {
  cursor: pointer;
  border-color: #dac71e;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-filter: brightness(1.3);
  filter: brightness(1.3);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 41, 41, 0.6);
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.popup__wrapper {
  position: relative;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3019607843);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3019607843);
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000000;
}
.popup__content {
  padding: 20px;
}
.popup__photo {
  width: 400px;
  height: 400px;
  border-radius: 10px 0 0 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.popup__photo-valery {
  background-image: url('../../img/photo/valery.jpg');
}
.popup__photo-victoriya {
  background-image: url('../../img/photo/victoriya.jpg');
}
.popup__photo-alexei {
  background-image: url('../../img/photo/alexei.jpg');
}
.popup__photo-marina {
  background-image: url('../../img/photo/marina.jpg');
}
.popup____title {
  font-size: 24px;
  margin-bottom: 10px;
}
.popup__name {
  font-size: 36px;
  margin-bottom: 10px;
}
.popup__country {
  font-size: 24px;
  margin-bottom: 20px;
}
.popup__bio {
  width: 400px;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.popup__git {
  font-size: 18px;
  color: #007bff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
}
.popup__img {
  width: 100px;
  height: 60px;
}
.popup__contribution {
  font-style: italic;
  font-weight: bold;
}
.popup__contribution li {
  font-weight: normal;
  font-style: normal;
}
.popup__contribution li::before {
  content: '•';
  /* символ маркера */
  color: #cc9e20;
  /* цвет маркера */
  margin-right: 5px;
  /* отступ от текста */
}

.noscroll {
  overflow: hidden;
}

.popup__img:hover {
  color: #ffffff;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
