.sort__container {
  display: flex;
  column-gap: 50px;
  justify-content: center;
  padding: 180px 50px;
  margin: 0 auto;
  .sort__container-left {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    max-width: 200px;
    font-family: Montserrat, sans-serif;
    .filters__container {
      max-width: 300px;
      div {
        display: flex;
        flex-direction: column;
        p {
          padding-bottom: 5px;
          font-weight: 700;
        }
      }
    }
    .price-range-container {
      display: flex;
      flex-direction: column;
      row-gap: 3px;
      text-align: center;
      .price-range {
        display: flex;
        flex-direction: column;
        row-gap: 3px;
      }
    }
  }
  .sort__container-right {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    align-items: flex-end;
    max-width: 1000px;

    .sort__block {
      display: flex;
      flex-direction: column;
      font-family: Montserrat, sans-serif;
      .sort__label {
        .sort__dropdown {
          width: 100px;
        }
      }
    }
    .product__container {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: flex-start;
      font-family: 'Cormorant Garamond', serif;

      .product__cart {
        display: flex;
        flex-direction: column;
        row-gap: 3px;
        justify-content: space-between;
        width: 200px;
        padding: 5px;
        text-align: center;
        cursor: pointer;
        border: 2px #d1cfc6 solid;
        border-radius: 10px;
        box-shadow: 0 0 10px rgb(241 218 129 / 20%);
        transition:
          transform 0.3s,
          box-shadow 0.3s;
        &:hover {
          box-shadow: 0 0 20px rgb(0 0 0 / 40%);
          transform: scale(1.05);
        }
      }
      img {
        width: 100%;
      }
      .product__title {
        font-size: 18px;
        font-weight: 700;
      }
      .product__price {
        display: flex;
        justify-content: space-between;
        font-family: Montserrat, sans-serif;
        font-size: 16px;
      }
      .previous__price {
        text-decoration: line-through;
      }

      .discounted__price {
        font-weight: 700;
        color: #f01616;
      }
      .product__description {
        font-size: 14px;
        text-align: justify;
      }
      button {
        color: #131212;
        border: 2px #d1cfc6 solid;
        border-radius: 10px;
        box-shadow: 0 0 10px rgb(0 0 0 / 20%);
      }
    }
  }
}

input,
select {
  border: 1px #656262 solid;
  border-radius: 5px;
}

.filters__container {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  input[type='checkbox'] {
    border: 2px #492f2f solid;
  }
}
